# Copy this file to .env and adjust if needed
# cp env.example .env

# Backend API URL
# For local development:
NEXT_PUBLIC_API_URL=http://localhost:3002/api

# For production server (uncomment and use this):
# NEXT_PUBLIC_API_URL=http://16.171.111.4:3002/api

